<div class="user-details">
    <h1> My Expertise </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Languages</h2>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-c-line colored"></i>
        <p>I can help with Javascript, Java or other mainstream programming language </p>
    </div>
    <div class="tech">
        <h2>Frameworks</h2>
        <i class="devicon-cucumber-plain-wordmark colored"></i>
        <i class="devicon-jasmine-plain-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <p>Jasmine, JUnit, TestNG are some of the testing frameworks that I am using frequently </p>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-git-plain"></i>
        <i class="devicon-visualstudio-plain-wordmark colored"></i>
        <i class="devicon-docker-plain-wordmark colored"></i>
        <p>The tools that help me do an efficient job every day are: Git, VSCode, Docker and many more </p>
    </div>
</div>