<div id="particles-js">
    <div class="header">
        <h1>
            <span class="site-title">{{site.username}}</span>
            <span class="site-description">{{site.user_title}}</span>
        </h1>
        <div class="header-icons">
            <a aria-label="My Linkedin" rel="noopener" href="https://www.linkedin.com/in/ionpetrache">
                <i class="icon fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a aria-label="My Twitter" rel="noopener" href="https://twitter.com/ionpetrache">
                <i class="icon fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a aria-label="My Github" rel="noopener" href="https://github.com/ionutpetrache">
                <i class="icon fa fa-github-alt" aria-hidden="true"></i>
            </a>
            <a aria-label="My Blog" rel="noopener" href="https://automationengineeringblog.wordpress.com">
                <i class="icon fa fa-wordpress" aria-hidden="true"></i>
            </a>
            <a aria-label="My Stackoverflow" rel="noopener" href="https://stackoverflow.com/users/6434628/ionut">
                <i class="icon fa fa-stack-overflow" aria-hidden="true"></i>
            </a>
            <a aria-label="Send email" href="mailto:ionpetrache@gmail.com">
                <i class="icon fa fa-envelope"></i>
            </a>
        </div>

        <div class="header-links">
            <a class="link" href="#about" data-scroll>About Me</a>
            <a class="link" href="#projects" data-scroll>Projects</a>
        </div>
    </div>
    <a class="down" alt="scroll down" aria-label="scroll down" href="#about" data-scroll>
        <i class="icon fa fa-chevron-down" aria-hidden="true"></i>
    </a>
</div>