<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <picture>
            <source srcset="{{ " /assets/img/digital-publishing-mobile.jpeg " | prepend: site.baseurl }}" media="(max-width: 415px)">
            <source srcset="{{ " /assets/img/digital-publishing-tablet.jpeg " | prepend: site.baseurl }}" media="(max-width: 768px)">
            <source srcset="{{ " /assets/img/digital-publishing-desktop.jpeg " | prepend: site.baseurl }}" media="(min-width: 768px)">
            <img alt="Digital publishing" src="{{ " /assets/img/digital-publishing-desktop.jpeg " | prepend: site.baseurl }}" />
        </picture>
    </div>
    <div class="contents">
        <h3> Social Sweethearts </h3>
        <ul>
            <li> Tasks overview</li>
        </ul>
        <p>Introduce and implement end to end test automation inside different digital publishing projects. Set up testing framework based on Selenium / Appium and NightwatchJS to cover end user scenarios. Extend Frontend unit testing in order to protect
            against the regressions and give confidence to refactor code </p>
        <a class="project-link" href="http://www.socialsweethearts.de/">Social Sweethearts</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-left">
        <picture>
            <source srcset="{{ " /assets/img/digital-marketing-mobile.jpeg " | prepend: site.baseurl }}" media="(max-width: 415px)">
            <source srcset="{{ " /assets/img/digital-marketing-tablet.jpeg " | prepend: site.baseurl }}" media="(max-width: 768px)">
            <source srcset="{{ " /assets/img/digital-marketing-desktop.jpeg " | prepend: site.baseurl }}" media="(min-width: 768px)">
            <img alt="Digital marketing" src="{{ " /assets/img/digital-marketing-desktop.jpeg " | prepend: site.baseurl }}" />
        </picture>
    </div>
    <div class="contents-right">
        <h3> Mapp Digital / Teradata </h3>
        <ul>
            <li> Tasks overview</li>
        </ul>
        <p>Replace old test automation framework for a digital marketing system with new Selenium framework in order to speed up the development feedback process. Set up end to end testing for new microservices</p>
        <a class="project-link" href="https://mapp.com/">Mapp Digital</a>
    </div>
</div>
<div class="user-projects">
    <div class="images-right">
        <picture>
            <source srcset="{{ " /assets/img/travel-industry-mobile.jpeg " | prepend: site.baseurl }}" media="(max-width: 415px)">
            <source srcset="{{ " /assets/img/travel-industry-tablet.jpeg " | prepend: site.baseurl }}" media="(max-width: 768px)">
            <source srcset="{{ " /assets/img/travel-industry-desktop.jpeg " | prepend: site.baseurl }}" media="(min-width: 768px)">
            <img alt="Travel industry" src="{{ " /assets/img/travel-industry-desktop.jpeg " | prepend: site.baseurl }}" />
        </picture>
    </div>
    <div class="contents-right">
        <h3> Amadeus</h3>
        <ul>
            <li> Tasks overview</li>
        </ul>
        <p>Perform non-functional performance and load testing for a Service Oriented Architecture system that serves one of the most important Global distribution systems in the world.</p>
        <a class="project-link" href="http://www.amadeus.com/">Amadeus</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-left">
        <picture>
            <source srcset="{{ " /assets/img/computer-printing-mobile.jpeg " | prepend: site.baseurl }}" media="(max-width: 415px)">
            <source srcset="{{ " /assets/img/computer-printing-tablet.jpeg " | prepend: site.baseurl }}" media="(max-width: 768px)">
            <source srcset="{{ " /assets/img/computer-printing-desktop.jpeg " | prepend: site.baseurl }}" media="(min-width: 768px)">
            <img alt="Travel industry" src="{{ " /assets/img/computer-printing-desktop.jpeg " | prepend: site.baseurl }}" />
        </picture>
    </div>
    <div class="contents-right">
        <h3> Saguaro Tech</h3>
        <ul>
            <li> Tasks overview</li>
        </ul>
        <p>Various roles involving testing and development for our clients IBM / InfoPrint / Ricoh. The business domain was printing software </p>
        <a class="project-link" href="http://www.saguarotech.net/">Saguaro Tech</a>
    </div>
</div>

<div class="user-projects">
    <div class="images-right">
        <picture>
            <source srcset="{{ " /assets/img/computer-network-mobile.jpeg " | prepend: site.baseurl }}" media="(max-width: 415px)">
            <source srcset="{{ " /assets/img/computer-network-tablet.jpeg " | prepend: site.baseurl }}" media="(max-width: 768px)">
            <source srcset="{{ " /assets/img/computer-network-desktop.jpeg " | prepend: site.baseurl }}" media="(min-width: 768px)">
            <img alt="Travel industry" src="{{ " /assets/img/computer-network-desktop.jpeg " | prepend: site.baseurl }}" />
        </picture>
    </div>
    <div class="contents-left">
        <h3> ITC Networks / Luxoft</h3>
        <ul>
            <li> Tasks overview</li>
        </ul>
        <p>Performing quality assurance for a high performance networking device developed for our clients Nortel Networks</p>
        <a class="project-link" href="https://www.luxoft.com/">Luxoft</a>
    </div>
</div>